@use "../vars" as *;

.footer {
  @include flex(right, center, row, 1rem);

  &__btn {
    cursor: pointer;
    transition: $speed;
    border-radius: $radius;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;

    &:hover:not(:disabled) {
      background-color: $pale-blue;
    }

    &:active:not(:disabled) {
      transform: scale(0.9);
    }
  }
}
