@use "../vars" as *;

.todos {
  max-height: 80%;
  overflow-y: auto;
  scrollbar-width: thin;

  &__form {
    @include flex(space-between, center, row, 2%);
  }

  &__input {
    width: 100%;
    height: 2.5em;
    border-radius: $radius;
    padding: 1rem;
    border: 2px solid transparent;
    transition: border $speed;
    color: $black-2;
    background-color: $white-1;

    &:hover {
      border-color: $black-3;
    }
    &:focus {
      outline: none;
      border-color: $pale-blue;
    }
  }

  &__add {
    width: 6.25em;
    height: 2.5em;
    border-radius: $radius;
    background-color: $pale-blue;
    border: 2px solid transparent;
    cursor: pointer;
    @include flex(center, center, row, 1rem);
    transition: transform $speed;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
    &:focus {
      border-color: $black-3;
    }
  }

  &__icon {
    height: 1.25em;
  }

  // Todo list

  &__list {
    list-style: none;
    margin-top: 2.4rem;
    padding: 0;
    @include flex(stretch, stretch, column, 1rem);
  }

  // Without todos
  &__empty {
    margin-top: 4%;
    @include flex(center, center, column);
    align-items: center;

    &-img {
      height: 100%;
      transform: translateX(13%);
    }

    &-stm {
      color: $black-3;
      font-family: $body-font;
    }
  }
}
