/*Colors*/
$black: #222;
$black-2: #444;
$black-3: #666;

$pale-blue: #646cff;
$white: #fff;
$white-1: #eee;
$transparent-black: rgba(0, 0, 0, 0.1);

/*Sizes*/
$radius: 0.8rem;
$radius-2: 0.4rem;

/* trasition*/
$speed: 300ms;

/*Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

$body-font: "Indie Flower", cursive;

/* Mixins */
@mixin flex($jc: stretch, $ai: stretch, $fdirection: row, $gap: 0) {
  display: flex;
  flex-direction: $fdirection;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}
