@use "../styles/vars" as *;

#root {
  width: 100%;
  height: 100%;
  @include flex(center, center);
  padding: 2rem;
  font-size: 18px;
}

.app {
  width: 100%;
  max-width: 850px;
  height: 100%;
  background-color: $white;
  color: $black;
  padding: 4.2rem;
  border-radius: $radius;
  border: 2px solid $black-3;
  margin: 0;
  font-family: $body-font;

  &__title {
    margin-top: 0;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.223rem;
    font-family: $body-font;
  }
}

@media screen and (max-width: 550px) {
  #root {
    padding: 0;
  }
  .app {
    padding: 3rem 2rem;
  }
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

a {
  font-weight: 500;
}
